<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/param_formula_mapping.css">
    <link rel="stylesheet" href="css/fontawesome/all.min.css">
    <link rel="stylesheet" href="Datatables/datatables.min.css" />
    <link rel="stylesheet" href="css/jquery/jquery-ui.css">

    <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="Datatables/datatables.min.js"></script>

    <link rel="stylesheet" href="css/datetimepicker/jquery.datetimepicker.min.css">
    <script type="text/javascript" src="js/datetimepicker/jquery.datetimepicker.js"></script>

    <script type="text/javascript" src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">

    <script type="text/javascript" src="js/fontawesome/all.min.js"></script>

    <script type="text/javascript" src="js/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="js/helper.js"></script>

    <title>Parameter/Formula</title>
</head>

<body>
    <div class="mb-2" id="pnlHeader">
        <h2 class="ms-2 fw-bold">LIST OF PARAMETER</h2>
    </div>



    <div class="box-shadow4 m-1 mb-2 rounded-2 p-2 overflow-auto" id="pnlSearch">
        <div class="h-50 d-flex justify-content-center">
            <div class="input-group me-1 mb-1" style="width: 30%;">
                <span for="edtTopic" class="input-group-text span-layout search-border text-end"
                    style="width: 100px;">Topic</span>
                <input type="text" min="0" class="form-control search-border" name="edtTopic"
                    id="edtTopic" readonly />
            </div>
            <div class="input-group me-1 mb-1" style="width: 30%;">
                <span for="edtConditionDetail" class="input-group-text span-layout search-border text-end"
                    style="width: 150px;">Condition Detail</span>
                <input type="text" class="form-control search-border" name="edtConditionDetail"
                    id="edtConditionDetail" readonly />
            </div>
            <button class="btn btn-secondary me-2" onclick="" id="btnResetParamFormulaMapping" style="width: 10%;">
                <i class="fas fa-redo"></i>
                Reset
            </button>
            
        </div>
        <div class="h-50 d-flex justify-content-center">
            <div class="input-group me-1 mb-1" style="width: 30%;">
                <span for="edtFormula" class="input-group-text span-layout search-border text-end"
                    style="width: 100px;">Formula</span>
                <input type="text" class="form-control search-border" name="edtFormula"
                    id="edtFormula" readonly />
            </div>
            <div class="input-group me-1 mb-1" style="width: 30%;">
              
            </div>
            <div class="input-group me-1 mb-1" style="width: 10%;">
              
            </div>

        </div>



    </div>
    <div class="m-1 rounded-2 p-2 grid-items-left mb-2" id="pnlButton">
        <button type="button" class="btn btn-primary me-2 rounded-2" data-bs-toggle="modal"
            data-bs-target="#modalParamFormulaMappingDataEntry" role="button" id="btnParamFormulaMappingAdd">
            <i class="fas fa-plus"></i>
            Add
        </button>
        <button class="btn btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#modalParamFormulaMappingDataEntry"
            role="button" id="btnParamFormulaMappingEdit">
            <i class="fas fa-edit"></i>
            Edit
        </button>
        <button class="btn btn-danger me-2"  id="btnParamFormulaMappingDelete">
            <i class="fas fa-trash-alt"></i>
            Delete
        </button>


    </div>
    <div class="box-shadow4 m-1 rounded-1 p-2 mb-2" id="pnlContentTableView">
        <table id="ncr_param_table" class="table table-striped table-bordered table-hover w-100">
            <thead class="position-sticky top-0">
                <tr>
                    <th class="text-center align-middle">ID</th>
                    <th class="text-center align-middle">ParamName</th>
                    <th class="text-center align-middle">ParamType</th>
                    <th class="text-center align-middle">IsConst</th>
                    <th class="text-center align-middle">ConstVal</th>
                    <th class="text-center align-middle">Active</th>
                    <th class="text-center align-middle">Detail</th>
                    <th class="text-center align-middle">UpdateDate</th>
                </tr>
            </thead>
            <tbody id="ncr_param_body">

            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between" id="pnlDetail">

        <div class="ms-2">
            <i class="fas fa-user me-1"></i>
            Login by : FName LName<b> [ Role/Plant ] </b>
        </div>
        <div class="me-2">
            Developed by : <b>
                <%=developer%>
            </b>
            <!-- <img src="file/img/redtech_logo.png" class="img-fluid" style="height: 30px;width: 80px;"> -->
        </div>


    </div>

    <!-- modal -->
    <div class="modal fade bd-example-modal-fullscreen" id="modalParamFormulaMappingDataEntry" aria-hidden="true"
        aria-labelledby="exampleModalToggleLabel">
        <div class="modal-dialog modal-fullscreen page_font_family" id="ModalParamFormulaMapping">
            <div class="modal-content">
                <div class="modal-header display-ncr-auto-topic-header p-0">
                    <h3 class="modal-title">
                        <span id="modal-title-label">PARAMETER</span>
                        <span id="modal-title-label-control">NONE</span>

                    </h3>

                    <div class="btn" data-bs-dismiss="modal" aria-label="Close">

                        <i class="fas fa-window-close fa-2x"></i>
                    </div>
                </div>
                <div class="p-1 pb-0 modal-body overflow-hidden">
                    <div class="input-group me-1 mb-1" style="width: 100%;">
                        <span for="edtFormula2" class="input-group-text span-layout search-border text-end"
                            style="width: 100px;">Formula</span>
                        <input type="text" class="form-control search-border" name="edtFormula2"
                            id="edtFormula2" readonly />
                    </div>
                    <br>
                    <br>

                    <div class="input-group input-group-form">
                        <span class="input-group-text span-layout text-end">Name</span>
                        <input type="text"  class="form-control" name="edtParamName_Entry"
                            id="edtParamName_Entry" placeholder="ParamName" />

                    </div>
                    <div class="input-group input-group-form">
                        <span class="input-group-text span-layout text-end">Type</span>
                        <select class="form-select" id="selParamType_Entry">
                            <option value="Float">Float</option>
                            <option value="DateTime">Date Time</option>
                            <option value="String">String</option>
                            <option value="Boolean">Boolean</option>
                          </select>

                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="chkIsConst_Entry">
                        <label class="form-check-label" for="chkIsConst_Entry">
                            IsConst
                        </label>
                    </div>
                    
                    <div class="input-group input-group-form">
                        <span class="input-group-text span-layout text-end">ConstVal</span>
                        <input type="text" class="form-control" name="edtConstVal_Entry"
                            id="edtConstVal_Entry" placeholder="ConstVal" />

                    </div>

                    <div class="input-group input-group-form">
                        <span class="input-group-text span-layout text-end">Detail</span>
                        <textarea class="form-control" name="edtDetail_Entry" id="edtDetail_Entry"
                            placeholder="Detail"></textarea>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="chkActive_Entry">
                        <label class="form-check-label" for="chkActive_Entry">
                            Active
                        </label>
                    </div>





                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" btnPartSave onclick="dataEntry_ParamFormulaMapping()">
                        <i class="fas fa-save"></i>
                        Save
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-target="#modalParamFormulaMappingDataEntry" data-bs-toggle="modal"
                        data-bs-dismiss="modal" id="btnParamFormulaMappingClose">
                        <i class="fas fa-window-close"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    let myDomain = '<%=host%>:<%=port%>'
    let urlNCRAutoTopic = `http://${myDomain}/ncr_auto_topic_api/`
    let urlParamFormulaMapping = `http://${myDomain}/param_formula_mapping_api/`
    let urlParamFormulaMapping_ListByTopic = `http://${myDomain}/param_formula_mapping_listby_topic_api/`
    let g_ID_NCRAutoTopic = '<%=ID_NCRAutoTopic%>'
</script>
<script type="text/javascript" src="js/param_formula_mapping.js"></script>

</html>