<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/product_ncr_mapping.css">
    <link rel="stylesheet" href="css/fontawesome/all.min.css">
    <link rel="stylesheet" href="Datatables/datatables.min.css" />
    <link rel="stylesheet" href="css/jquery/jquery-ui.css">

    <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="Datatables/datatables.min.js"></script>

    <link rel="stylesheet" href="css/datetimepicker/jquery.datetimepicker.min.css">
    <script type="text/javascript" src="js/datetimepicker/jquery.datetimepicker.js"></script>

    <script type="text/javascript" src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">

    <script type="text/javascript" src="js/fontawesome/all.min.js"></script>

    <script type="text/javascript" src="js/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="js/helper.js"></script>

    <title>Product/NCR</title>
</head>

<body>
    <div class="mb-2" id="pnlHeader">
        <h2 class="ms-2 fw-bold">LIST OF PRODUCT NCR</h2>
    </div>



    <!-- <div class=" box-shadow4 m-1 mb-2 rounded-2 p-2 overflow-auto" id="pnlSearch">
        <div class="h-50 d-flex justify-content-center">
            <div class="input-group me-1 mb-1" style="width: 30%;">
                <span for="edtTopic" class="input-group-text span-layout search-border text-end"
                    style="width: 100px;">Topic</span>
                <input type="text" min="0" class="form-control search-border" name="edtTopic"
                    id="edtTopic" readonly />
            </div>
            <div class="input-group me-1 mb-1" style="width: 30%;">
                <span for="edtConditionDetail" class="input-group-text span-layout search-border text-end"
                    style="width: 150px;">Condition Detail</span>
                <input type="text" class="form-control search-border" name="edtConditionDetail"
                    id="edtConditionDetail" readonly />
            </div>
            <button class="btn btn-primary me-2" onclick="" id="btnResetProductNCRMapping" style="width: 10%;">
                <i class="fas fa-redo"></i>
                Search
            </button>
            
        </div>
        <div class="h-50 m-1 d-flex justify-content-center">
            <div class="input-group me-1 mb-1" style="width: 30%;">
                <span for="edtFormula" class="input-group-text span-layout search-border text-end"
                    style="width: 100px;">Formula</span>
                <input type="text" class="form-control search-border" name="edtFormula"
                    id="edtFormula" readonly />
            </div>
            <div class="input-group me-1 mb-1" style="width: 30%;">
              
            </div>
            <button class="btn btn-secondary me-2" onclick="" id="btnResetProductNCRMapping" style="width: 10%;">
                <i class="fas fa-redo"></i>
                Reset
            </button>

        </div>



    </div> -->

    <div class="m-1 rounded-2 p-2 grid-items-left mb-2 d-flex" id="pnlButton">
        <div class="d-flex justify-content-start w-50">

            <button type="button" class="btn btn-primary me-2 rounded-2" data-bs-toggle="modal"
                data-bs-target="#modalProductNCRMappingDataEntry" role="button" id="btnProductNCRMappingAdd">
                <i class="fas fa-exchange-alt"></i>
                Mapping
            </button>
            <button class="btn btn-secondary me-2 d-none" data-bs-toggle="modal"
                data-bs-target="#modalProductNCRMappingDataEntry" role="button" id="btnProductNCRMappingEdit">
                <i class="fas fa-edit"></i>
                Edit
            </button>
            <button class="btn btn-danger me-2 d-none" id="btnProductNCRMappingDelete">
                <i class="fas fa-trash-alt"></i>
                Delete
            </button>
        </div>
        <div class="d-flex justify-content-end w-50">

            <button class="btn btn-secondary me-2" onclick="" id="btnResetProductNCRMapping">
                <i class="fas fa-redo"></i>
                Reset
            </button>
        </div>


    </div>
    <div class="box-shadow4 rounded m-1 p-1 d-flex" id="pnlContentTableView">
        <div class="box-shadow4 rounded w-50 m-1">
            <div class="title text-center fs-4 bg-primary text-co fw-bold" style="color: white;">
                Product
            </div>
            <div class="table-content p-1">
                <table id="product_table" class="table table-striped table-bordered table-hover w-100">
                    <thead class="position-sticky top-0">
                        <tr>
                            <th class="text-center align-middle">ID_Product</th>
                            <th class="text-center align-middle">Product NO</th>
                            <th class="text-center align-middle">Product Name</th>
                            <th class="text-center align-middle">Group Name</th>
                            <th class="text-center align-middle">Shape</th>
                            <th class="text-center align-middle">IsDry</th>
                            <th class="text-center align-middle">แห้ง/เปียก</th>

                        </tr>
                    </thead>
                    <tbody id="product_body">

                    </tbody>
                </table>

            </div>

        </div>
        <div class="box-shadow4 rounded w-50 m-1">
            <div class="title text-center fs-4 bg-secondary fw-bold" style="color: white;">
                NCR Aoto Topic
            </div>
            <div class="table-content p-1">
                <table id="ncr_table" class="table table-striped table-bordered table-hover w-100">
                    <thead class="position-sticky top-0">
                        <tr>

                            <th class="text-center align-middle">No</th>
                            <th class="text-center align-middle">Condition</th>
                            <th class="text-center align-middle">Formula</th>
                            <th class="text-center align-middle">Remark</th>
                        </tr>
                    </thead>
                    <tbody id="ncr_body">

                    </tbody>
                </table>

            </div>

        </div>
    </div>
    <div class="d-flex justify-content-between" id="pnlDetail">

        <div class="ms-2">
            <i class="fas fa-user me-1"></i>
            Login by : FName LName<b> [ Role/Plant ] </b>
        </div>
        <div class="me-2">
            Developed by : <b>
                <%=developer%>
            </b>
            <!-- <img src="file/img/redtech_logo.png" class="img-fluid" style="height: 30px;width: 80px;"> -->
        </div>


    </div>

    <!-- modal -->
    <div class="modal fade bd-example-modal-fullscreen" id="modalProductNCRMappingDataEntry" aria-hidden="true"
        aria-labelledby="exampleModalToggleLabel">
        <div class="modal-dialog modal-fullscreen page_font_family" id="ModalProductNCRMapping">
            <div class="modal-content">
                <div class="modal-header display-ncr-auto-topic-header p-0">
                    <h3 class="modal-title">
                        <span id="modal-title-label">PRODUCT NCR MAPPING</span>
                        <span id="modal-title-label-control">NONE</span>

                    </h3>

                    <div class="btn" data-bs-dismiss="modal" aria-label="Close">

                        <i class="fas fa-window-close fa-2x"></i>
                    </div>
                </div>
                <div class="p-1 modal-body overflow-hidden">

                    <div class="box-shadow4 rounded m-2 p-1 d-flex" style="height: 10%;background-color: white;">
                        <div class="input-group input-group-form w-50 me-4">
                            <span class="input-group-text span-layout text-end">Product</span>
                            <select class="form-select" id="selProduct_Entry">
                                
                              </select>
    
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rdoWet" value="option1">
                            <label class="form-check-label" for="inlineRadio1">เปียก</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rdoDry" value="option2" checked>
                            <label class="form-check-label" for="inlineRadio2">แห้ง</label>
                          </div>
                          
                    </div>
                    <div class="box-shadow4 rounded m-2 p-1 d-flex overflow-auto" style="height: 87%;background-color: white;">
                        <table id="ncr_seclect_table" class="table table-striped table-bordered table-hover w-100">
                            <thead class="position-sticky top-0">
                                <tr>
        
                                    <th class="text-center align-middle">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="chkSelectAll_NCR">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Select All
                                            </label>
                                          </div>
                                         </th>
                                    <th class="text-center align-middle">Topic No</th>
                                    <th class="text-center align-middle">Condition_TH</th>
                                    <th class="text-center align-middle">Formula</th>
                                    <th class="text-center align-middle">Remark</th>
                                </tr>
                            </thead>
                            <tbody id="ncr_seclect_body">
        
                            </tbody>
                        </table>
                    </div>







                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" btnPartSave onclick="dataEntry_ProductNCRMapping()">
                        <i class="fas fa-save"></i>
                        Save
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-target="#modalProductNCRMappingDataEntry"
                        data-bs-toggle="modal" data-bs-dismiss="modal" id="btnProductNCRMappingClose">
                        <i class="fas fa-window-close"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    let myDomain = '<%=host%>:<%=port%>'
    let urlNCRAutoTopic = `http://${myDomain}/ncr_auto_topic_api/`
    let urlProductNCRMapping = `http://${myDomain}/product_ncr_mapping_api/`
    let urlProductNCR_List = `http://${myDomain}/product_ncr_list/`
    let urlProductNCRMapping_ListOfProduct = `http://${myDomain}/product_ncr_mapping_list_listof_product/`
    let urlProductNCRMapping_NCRListByProduct = `http://${myDomain}/product_ncr_mapping_ncr_list_listby_product/`
</script>
<script type="text/javascript" src="js/product_ncr_mapping.js"></script>

</html>